# Build products
/build/

# Generated simulation vectors
/sim/generated/*.vh

# Local external dependencies
/external/

# Simulator outputs
*.vcd
*.fst
*.vvp

# Patch/editor leftovers
*.rej
*.orig
*~

/result
/.direnv/
/.envrc
